@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Oswald:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 0;
    font-weight: 500;
    font-size: 24pt;
}

p {
    font-size: 20pt;
    font-weight: 400;
}

button {
    border-color: rgb(103, 142, 214);
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(103, 142, 214) inset, 0 0 0 0 rgb(103, 142, 214);
    transition: all 150ms ease-in-out;
    height: 50px;
    width: 120px; /* 고정 크기 */
    border: 0;
    border-radius: 100pt;
    font-weight: 600;
    font-size: large;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.line {
    height: 100%;
    flex-grow: 1;
}

.Main {
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    flex-grow: 1;
    display: flex;
}

.Right {
    margin: 0;
    font-weight: 500;
    font-size: small;
}

.topBox {
    padding: 1%;
    background-color: white;
    border: solid rgb(214, 214, 214);
    border-width: 0px 0px 2px 0px;
}

.Bottom {
    padding: 1%;
    background-color: white;
}
